<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/navigation.ejs') %>

            <!-- Map Begin -->
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30241.40031458569!2d73.77591668488768!3d18.65613966591468!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2b9e0ffffffff%3A0x1265e81bedabe2f8!2sIICMR!5e0!3m2!1sen!2sin!4v1686923951951!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <!-- Map End -->

            <!-- Contact Section Begin -->
            <section class="contact spad">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__text">
                                <div class="section-title">
                                    <span>Information</span>
                                    <h2>Contact Us</h2>
                                    <p>As you might expect of a company that began as a high-end interiors contractor,
                                        we pay
                                        strict attention.</p>
                                </div>
                                <ul>
                                    <li>
                                        <h4>Pimpri Chinchwad</h4>
                                        <p>
                                            HS-2, Pradhikaran campus, behind Tukaram Garden, <br />Sector 27A,
                                            Pradhikaran, Pune, Maharashtra 411044 <br />+91 9212340311
                                        </p>
                                    </li>
                                    <li>
                                        <h4>Pune</h4>
                                        <p>Pune, Maharashtra 411044 <br />+91 8920343354</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="contact__form">
                                <form action="#">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="Name">
                                        </div>
                                        <div class="col-lg-6">
                                            <input type="text" placeholder="Email">
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea placeholder="Message"></textarea>
                                            <button type="submit" class="site-btn">Send Message</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Contact Section End -->


            <%- include('includes/end.ejs') %>